{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
              crossorigin="anonymous">
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
              crossorigin="anonymous">
        <link rel="stylesheet" 
              href="{% static 'census.css' %}">
    </head>

    <body>
        <div class="container">
            <h1>US Census Value Counter</h1>
            <p>The purpose of this page is to show the number of distinct values given in a recent US census. The census has several attributes. Using the form below, choose an attribute. A query will be made and moments later its results are shown. The results will show the unique values for that attribute. Alongside each value is the number of times that result appeared in the cesus, along with the average age of the people who supplied that value in the survey. In addition, you can limit the number of results shown using the drop-down menu below. If any results are not shown due to the chosen maximum, a summary of what was hidden will appear.</p> 
            <form>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <label for="column_select">Census Attribute</label>
                        <select id="column_select" class="selectpicker show-tick form-control" onchange="input_changed();">
                            <option value="unselected">Select A Column</option>
                            {% for field in fields %}
                            <option value="{{field}}">{{field}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3 col-md-offset-2">
                        <label for="max_results_select">Max. Results</label>
                        <select id="max_results_select" class="selectpicker show-tick form-control" onchange="input_changed();">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60">60</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </form>

            <div id="loader"></div>

            <div id="clipped_summary_row" class="row">
                <div class="col-md-3 col-md-offset-2">
                    <p> <b>Values Hidden:</b> <span id="values_clipped"></span></p>
                </div>

                <div class="col-md-3 col-md-offset-2">
                    <p> <b>Records Not Represented:</b> <span id="rows_clipped"></span></p>
                </div>
            </div>

            <div class="row">
                <table id="results_table" class="table-bordered col-md-8 col-md-offset-2">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Count (dsc)</th>
                            <th>Avg. Age</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                crossorigin="anonymous"></script>
        <script src="{% static 'census.js' %}" 
                type="text/javascript"></script>
    </body>
</html>
