body {
  background-color: #bbb;
}

#clipped_summary_row {
  display: none;
  margin-top: 20px;
}

#results_table {
  display: none;
  padding: 10px;
  background-color: #fff;
}

#loader {
  display: none;
  text-align: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  margin-left: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
